<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free EBook</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class='l-header' id='header'>
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">EBook</a>

            <div class="search_box">
                <input type="search" name="" id="" placeholder="Search">
            </div>

            <div class="nav__menu" id="nav-menu">
                <a href="javascript:void(0)" class="closebtn" id='closeBtn'>&times;</a>
                <ul class="nav__list">
                    <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">Type</a></li>
                    <li class="nav_item"><a href="#" class="nav_link">Fav</a></li>
                    <li><i class='bx bx-moon change_theme' id="theme_btn"></i></li>
                </ul>
            </div>
                
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>

        <!-- Mobile Bottom Nav -->
        <nav class="mobile_nav">
            <a href="#" class="mobile_nav_item">
                <i class='bx bx-home'></i>
                <span>Home</span>
            </a>
            <a href="#" class="mobile_nav_item">
                <i class='bx bx-list-ul'></i>
                <span>Type</span>
            </a>
            <a href="#" class="mobile_nav_item">
                <i class='bx bx-heart'></i>
                <span>Fav</span>
            </a>
        </nav>

    </header>
</body>
<script src="script.js"></script>
</html>